__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.eggs
build
dist
fastshap-torch.egg-info
/*.ipynb
*.pkl
*.pt
cifar-10-*
.venv/
.venv/bin/activate
evaluation/evaluator/model_weights.h5
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_50.pth
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_100.pth
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_150.pth
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670309210.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670323061.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670327502.gpu-instance

notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_0.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_50.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_100.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_150.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_200.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_250.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_300.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_350.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_400.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_450.pth
notebooks/scl_models/SupCon/cifar10_models/SupCon_cifar10_resnet18_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0_cosine/ckpt_epoch_500.pth
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670835683.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670837036.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670837108.gpu-instance
