__pycache__
*.pyc
.DS_Store
.ipynb_checkpoints
.eggs
build
dist
fastshap-torch.egg-info
/*.ipynb
*.pkl
*.pt
cifar-10-*
.venv/
.venv/bin/activate
evaluation/evaluator/model_weights.h5
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_50.pth
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_100.pth
save/SupCon/cifar10_models/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/ckpt_epoch_150.pth
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670309210.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670323061.gpu-instance
save/SupCon/cifar10_tensorboard/SupCon_cifar10_resnet50_lr_0.05_decay_0.0001_bsz_256_temp_0.07_trial_0/events.out.tfevents.1670327502.gpu-instance
